<a href="https://colab.research.google.com/github/Hardikmirani/Language-classification/blob/main/Language_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Language Detection.csv')
df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [7]:
df['Language'].unique()

array(['English', 'Malayalam', 'Hindi', 'Tamil', 'Portugeese', 'French',
       'Dutch', 'Spanish', 'Greek', 'Russian', 'Danish', 'Italian',
       'Turkish', 'Sweedish', 'Arabic', 'German', 'Kannada'], dtype=object)

In [8]:
df['Language'].value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: Language, dtype: int64

In [9]:
df['Text'][0]

' Nature, in the broadest sense, is the natural, physical, material world or universe.'

In [10]:
df['Language']

0        English
1        English
2        English
3        English
4        English
          ...
10332    Kannada
10333    Kannada
10334    Kannada
10335    Kannada
10336    Kannada
Name: Language, Length: 10337, dtype: object

In [11]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['Language']= label_encoder.fit_transform(df['Language'])

In [12]:
df.head()

                                                Text  Language
0   Nature, in the broadest sense, is the natural...         3
1  "Nature" can refer to the phenomena of the phy...         3
2  The study of nature is a large, if not the onl...         3
3  Although humans are part of nature, human acti...         3
4  [1] The word nature is borrowed from the Old F...         3

In [13]:
df['Text'][4]

'[1] The word nature is borrowed from the Old French nature and is derived from the Latin word natura, or "essential qualities, innate disposition", and in ancient times, literally meant "birth".'

In [14]:
df.head()

                                                Text  Language
0   Nature, in the broadest sense, is the natural...         3
1  "Nature" can refer to the phenomena of the phy...         3
2  The study of nature is a large, if not the onl...         3
3  Although humans are part of nature, human acti...         3
4  [1] The word nature is borrowed from the Old F...         3

In [15]:
x = df['Text']
y = df['Language']

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=42)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer(ngram_range=(1,1), stop_words='english')

x_train_fit = tfv.fit_transform(x_train)
x_test_fit = tfv.transform(x_test)

In [18]:
from sklearn.ensemble import RandomForestClassifier
randomforest = RandomForestClassifier(n_estimators=100, random_state=42)
randomforest.fit(x_train_fit, y_train)
randomforest.predict(x_test_fit)

array([12,  8,  3, ...,  4, 13,  4])

In [20]:
a_try = ['guten morgen']

a_vec = tfv.transform(a_try)
print(randomforest.predict(a_vec))
randomforest.predict_proba(a_vec)[:,1]

[9]

array([0.01])

In [26]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(x_train_fit.toarray(), y_train)
gnb_predictions = gnb.predict(x_test_fit.toarray())

In [29]:
a_try = ['guten morgen']

a_vec = tfv.transform(a_try)
print(gnb.predict(a_vec.toarray()))
gnb.predict_proba(a_vec.toarray())[:,1]

[5]

array([0.])

In [30]:
df[df['Language'] == 5]

                                                   Text  Language
9498  .Wir sind alle auf der Suche nach schnellen We...         5
9499  Ich weiß, ich verstehe, was passiert, ist, das...         5
9500                          Wie wäre es also mit uns?         5
9501  Lernen Sie einige intelligente neue englische ...         5
9502  Also werden wir heute 10 neue intelligente Wör...         5
...                                                 ...       ...
9963  narcisa änderte ihre art und weise sie kämpfte...         5
9964  Wie' s Narzissmus jetzt erzählt Marian beiden ...         5
9965  Hat sie, ich denke, sie würde jetzt kein Goldb...         5
9966  Terry, du siehst tatsächlich ein bisschen wie ...         5
9967                              Ihr zwei seid so nett         5

[470 rows x 2 columns]

In [31]:
a_try = ['सुबह बख़ैर']

a_vec = tfv.transform(a_try)
print(gnb.predict(a_vec.toarray()))
gnb.predict_proba(a_vec.toarray())[:,1]

[7]

array([0.])

In [32]:
df[df['Language'] == 7].head()

                                                   Text  Language
1979  विकि-शब्दकोष (एक मुक्त शब्दकोष एवं समानांतर को...         7
1980  [42] अंत में, विकिपीडिया एक पक्ष नहीं लेता है।...         7
1981  बोट्स नामक कंप्यूटर प्रोग्राम के निर्माण के बा...         7
1982               ""नहीं, हम नहीं जानते", जिमी ने कहा.         7
1983  [60] कुछ आलोचकों का दावा है कि विकिपीडिया की ख...         7